@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font for the pages as well as the colors that will be used.*/
    font-family: 'Lora', 'Times New Roman', Times, serif;
    --bg-primary: rgb(43, 65, 98);
    --bg-secondary: rgb(126, 141, 133);
    --font-color-primary: rgb(179, 191, 184);
    --font-color-secondary: rgb(240, 247, 244);
    --backup-color: rgb(244, 116, 59);
}

body .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
}


.hero img{
    width: 100%;
    height: 800px;
}

/* Wanted to add an outline to the letters to see better when on an image so I looked up the black outline around the letters*/
.hero .title{
    position: absolute;
    font-size: 80px;
    top: 20%;
    color: var(--bg-primary);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.hero .subtitle{
    position: absolute;
    font-size: 45px;
    top: 35%;
    color: var(--bg-primary);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.hero i{
    position: absolute;
    font-size: 150px;
    top: 40%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: var(--font-color-secondary);
}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
}

.second .timesquare{
    width: 100%;
    height: 800px;
}

.second .introLeft .sectionHeading{
    position: absolute;
    font-size: 45px;
    top: 100%;
    left: 6%;
    width: 30%;
    color: var(--font-color-secondary);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.second .introRight .introDesc{
    position: absolute;
    font-size: 20px;
    top: 100%;
    right: 10%;
    width: 45%;
    color: var(--font-color-primary);
    border: 3px black solid;
    background-color: grey;
    border-radius: 10px;
    padding: 5px 5px;
    
}

.second .introRight .ctaBtn{
    position: absolute;
    font-size: 20px;
    top: 150%;
    right: 31.1%;
    width: 23.3%;
    color: maroon;
}

.backgroundact{
    width: 100%;
}

.activities h2{
    position: absolute;
    top: 190%;
    left: 37%;
    font-size: 40px;
    color: var(--bg-primary);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.activities .activitiesWrapper .container1 img{
    position: absolute;
    top: 205%;
    width: 25%;
    height: 550px;
    margin-left: 170px;
}


.activities .activitiesWrapper .container2 img{
    position: absolute;
    top: 205%;
    width: 25%;
    height: 550px;
    margin-left: 570px;
}
.activities .activitiesWrapper .container3 img{
    position: absolute;
    top: 205%;
    width: 25%;
    height: 550px;
    margin-left: 964px;
}

.activities .activitiesWrapper .container1 h3{
    position: absolute;
    top: 260%;
    width: 25%;
    height: 68px;
    margin-left: 174px;
    color: var(--font-color-primary);
}

.activities .activitiesWrapper .container1 .opacity{
    position: absolute;
    top: 260%;
    width: 25%;
    height: 68px;
    margin-left: 170px;
    background-color: black;
    opacity: 0.3;
}

.activities .activitiesWrapper .container1 i{
    position: absolute;
    top: 260%;
    width: 25%;
    height: 68px;
    margin-left: 170px;
    font-size: 80px;
    color: maroon;
}

.activities .activitiesWrapper .container2 h3{
    position: absolute;
    top: 260%;
    width: 25%;
    height: 68px;
    margin-left: 574px;
    color: var(--font-color-primary);
}

.activities .activitiesWrapper .container2 .opacity{
    position: absolute;
    top: 260%;
    width: 25%;
    height: 68px;
    margin-left: 570px;
    background-color: black;
    opacity: 0.3;
}

.activities .activitiesWrapper .container2 i{
    position: absolute;
    top: 260%;
    width: 25%;
    height: 68px;
    margin-left: 570px;
    font-size: 80px;
    color: maroon;
}

.activities .activitiesWrapper .container3 h3{
    position: absolute;
    top: 260%;
    width: 25%;
    height: 68px;
    margin-left: 968px;
    color: var(--font-color-primary);
}

.activities .activitiesWrapper .container3 .opacity{
    position: absolute;
    top: 260%;
    width: 25%;
    height: 68px;
    margin-left: 964px;
    background-color: black;
    opacity: 0.3;
}

.activities .activitiesWrapper .container3 i{
    position: absolute;
    top: 260%;
    width: 25%;
    height: 68px;
    margin-left: 964px;
    font-size: 80px;
    color: maroon;
}

.activities .ctaBtn{
    position: absolute;
    top: 280%;
    width: 10%;
    height: 30px;
    margin-left: 680px;
    color: maroon;
}